@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');


* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px 15px 0px;
}

.header-container .link-container {
    /* border: 2px solid red; */
    display:flex;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}


.header-container .link-container > button {
    width: 80;
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0,28,56,0.15);
    border-radius: 3px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background: rgb(28, 188, 255);
    border: 0;
    font-weight: 700;
    font-size: 16px;
    transition: background .2s ease;

}

.header-container .link-container > button:hover {
    background: rgb(102, 208, 253);
}

/* Start of the next section  */
.master-container {
    /* border: 1px solid red; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-container {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.top-container p {
    /* border: 2px solid red; */
    font-family: 'Caveat';font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 140%;
    color: rgb(29, 46, 59);
    margin-bottom: 5px;
}

.top-container h1 {
    /* border: 2px solid red; */
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 140%;
    font-size: 6rem;
    color: rgb(29, 46, 59);
    margin-top: 0px;
    line-height: 90%;
    margin-bottom: 5px;
}

.two-container {
    /* border: 1px solid red; */
    display: flex;
    font-family: "Inter", sans-serif; font-size: 28px;
x
}

.two-container h3 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* End of the next section  */
/* Big Center Button Section */

.money-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.money-button-container > button {
    /* border: 1px solid red; */
    font-family: "Inter", sans-serif;
    font-size: 1.5rem; color: aliceblue;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 200%;
    border-color: rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 4px 16px 2px rgba(0, 44, 122, 0.2);
    background: rgb(28, 188, 255);
    width: 500px;
    font-weight: 600;
    transition: background .2s ease;
}

.money-button-container > button:hover {
    background-color: rgb(69, 198, 253);; /* Change the color to something else */
}


.money-button-container > p {
    margin-top: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 140%;
    font-size: 0.875rem;
}

/* Three boxes section */

.three-buttons-container {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 140%;
    font-size: 1.1875rem;
    color: rgb(29, 46, 59);
    margin-top: 10px;
    gap: 1.5em;
}

/* End of three boxes section */
/* Video Thumnail */
.video-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}